<!DOCTYPE html>
<html>

<body>

    <div class="topnav">
        <img src="img/logo.png" id="logo" />
        <a href="/logout" id="navlink">Logout</a>
        <a href="/neighborhood" id="navlink">Neighborhood</a>
        <a href="/task" id="navlink">Tasks</a>
        <a href="/user" id="navlink">Profile</a>

    </div>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>


</body>

</html>