<div class="topnav">
    <img src="img/logo.png" id="logo" />
    <a href="/logout" id="navlink">Logout</a>
    <a href="/neighborhood" id="navlink">Neighborhood</a>
    <a href="/task" id="navlink">Tasks</a>
    <a href="/user" id="navlink">Profile</a>

</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">

            <h2>Neighborhood</h2>
            <h5>Your neighbors need help completing these tasks!</h5>

            <div id="map"></div>

            <br>
            <br>

        </div>
    </div>
</div>