<div class="topnav">
    <img src="img/logo.png" id="logo" />
    <a href="/logout" id="navlink">Logout</a>
    <a href="/neighborhood" id="navlink">Neighborhood</a>
    <a href="/task" id="navlink">Tasks</a>
    <a href="/user" id="navlink">Profile</a>

</div>